#login_section {
    background-color: rgb(50, 167, 209);
    width: 25%;
    height: 800px;
    border: 1px #000000 solid;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

#img {
    width: 130px;
    height: 130px;
    display: flex;
    justify-content: center;
}

#transf {
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    background-color: white;
    border: 1px solid #000;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.1);
}

#transferencias {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
