* {
    box-sizing: border-box;
}

body {
    text-align: center;
    background-color: rgb(4, 45, 117);
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}